@import 'tailwindcss';

/* Fuente Google Sans Flex */
@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wdth,wght@6..144,116.1,1..1000&display=swap');

/* Configuración de tema (Tailwind v4) */
@theme {
  --font-family-sans: 'Google Sans Flex', ui-sans-serif, system-ui, sans-serif;
}

/* Estilo base: todo el cuerpo usa Medium 500 */
@layer base {
  html,
  body {
    font-family: var(--font-family-sans);
    font-weight: 400;
  }
}

/*
  Compatibilidad con el cambio de color de borde en Tailwind v4.
  Esto ya lo tenías, lo dejamos.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

::selection {
    background-color: #3A522C;
    color: white;
}

.leaflet-top.leaflet-left {
  left: auto;
  right: 10px;
}